.root {
  background-color: #FFF1;
  width: 200px;
  height: 320px;
  padding: 10px;
  margin: 10px;
  & > img {
    margin: -10px;
    width: 220px;
    height: 75%;
    object-fit: cover;
    object-position: bottom;
  }
  border-radius: 10px;
  overflow: hidden;
  &:hover {
    transform: scale(1.03);
  }
  transition: all 100ms;
}
